<div class="navbar navbar-dark" style="background-color: #8E05C2; md-4">
    <div class="container">
        <a class="navbar-brand">
            <img src="/img/torre-de-pc2.png" alt="" width="40" height="34" class="d-inline-block align-text-top">
            <strong>I FIX IT: Hardware solutions</strong> 
        </a>
    </div>
</div>